@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. 1600px
2. 1440px
3. 1280px
4. 1199px
5. 1024px
6. 991px
7. 959px
8. 880px
9. 768px
10. 767px
11. 539px
12. 479px
13. 400px

******************************/

/************
1. 1600px
************/

@media only screen and (max-width: 1600px)
{
	
}

/************
2. 1440px
************/

@media only screen and (max-width: 1440px)
{
	
}

/************
3. 1380px
************/

@media only screen and (max-width: 1380px)
{
	
}

/************
3. 1280px
************/

@media only screen and (max-width: 1280px)
{
	
}

/************
4. 1199px
************/

@media only screen and (max-width: 1199px)
{
	.last_item_content
	{
		padding-left: 80px;
		padding-right: 70px;
	}
	.last_percent
	{
		font-size: 124px;
	}
	.last_title
	{
		font-size: 30px;
	}
}

/************
4. 1100px
************/

@media only screen and (max-width: 1100px)
{
	
}

/************
5. 1024px
************/

@media only screen and (max-width: 1024px)
{
	
}

/************
6. 991px
************/

@media only screen and (max-width: 991px)
{
	.header
	{
		top: 15px;
	}
	.main_nav,
	.search
	{
		display: none !important;
	}
	.hamburger
	{
		display: block;
	}
	.logo div:first-of-type
	{
		font-size: 22px;
	}
	.logo div:nth-child(2)
	{
		font-size: 9px;
	}
	.home_content
	{
		width: 100%;
	}
	.home_text_large
	{
		font-size: 125px;
	}
	.home_text_small
	{
		font-size: 42px;
	}
	.find_item:first-child
	{
		width: calc((100% - 8px) / 2);
		margin-bottom: 30px;
	}
	.find_item:nth-child(2)
	{
		width: calc((100% - 8px) / 2);
		margin-bottom: 30px;
	}
	.find_item:nth-child(3),
	.find_item:nth-child(4)
	{
		width: calc((100% - 154px) / 2);
	}
	
	.top_col
	{
		margin-bottom: 30px;
	}
	.top_col:last-child
	{
		margin-bottom: 0px;
	}	
	.top_col:nth-last-child(2)
	{
		margin-bottom: 0px;
	}
	.last_item_content
	{
		padding-left: 90px;
		padding-right: 80px;
	}
	.last_item
	{
		padding-right: 0;
		margin-bottom: 35px;
	}
	.last_col:last-child .last_item
	{
		padding-left: 0;
		margin-bottom: 0px;
	}
	.last_subtitle
	{
		text-align: center;
	}
	.last_percent
	{
		text-align: center;
	}
	.last_title
	{
		text-align: center;
	}
	.popular_item
	{
		width: calc((100% - 30px) / 2);
		margin-bottom: 26px;
	}
	.popular_item:nth-last-child(-n+4)
	{
		margin-bottom: 26px;
	}
	.popular_item:nth-last-child(-n+2)
	{
		margin-bottom: 0;
	}
	.special_content
	{
		width: 690px;
		margin-left: auto;
		margin-right: auto;
	}
	.special_slider_nav
	{
		display: none !important;
	}
	.footer_col
	{
		margin-bottom: 30px;
	}
	.copyright
	{
		margin-top: 22px;
	}
	.footer_latest
	{
		margin-bottom: 10px;
	}
}

/************
7. 959px
************/

@media only screen and (max-width: 959px)
{
	
}

/************
8. 880px
************/

@media only screen and (max-width: 880px)
{
	
}

/************
9. 768px
************/

@media only screen and (max-width: 768px)
{
	
}

/************
10. 767px
************/

@media only screen and (max-width: 767px)
{
	.menu_container
	{
		right: -100vw;
		width: 100vw;
		height: 100vh;
	}
	.home_text_large
	{
		font-size: 88px;
	}
	.home_text_small
	{
		font-size: 36px;
	}
	.find_item:first-child
	{
		width: 100%;
		margin-bottom: 30px;
	}
	.find_item:nth-child(2)
	{
		width: 100%;
		margin-bottom: 30px;
	}
	.find_item:nth-child(3),
	.find_item:nth-child(4)
	{
		width: 100%;
		margin-bottom: 30px;
	}
	
	.top_col:nth-last-child(2)
	{
		margin-bottom: 30px;
	}
	.popular_item
	{
		width: 100%;
		margin-bottom: 26px;
	}
	.popular_item:nth-last-child(-n+4)
	{
		margin-bottom: 26px;
	}
	.popular_item:nth-last-child(-n+2)
	{
		margin-bottom: 26px;
	}
	.popular_item:last-child
	{
		margin-bottom: 0;
	}
	.special_content
	{
		width: 510px;
	}
	.newsletter_input
	{
		width: 100%;
	}
	.newsletter_button
	{
		margin-left: auto;
		margin-right: auto;
		margin-top: 15px;
	}
}

/************
11. 575px
************/

@media only screen and (max-width: 575px)
{
	h2{font-size: 24px;}
	.header_container
	{
		height: 70px;
	}
	.header.scrolled .header_container
	{
		height: 70px;
	}
	.logo
	{
		padding-left: 33px;
	}
	.logo_image
	{
		width: 30px;
	    top: -22px;
	    left: 14px;
	}
	.header.scrolled .logo_image
	{
		width: 30px;
	    top: -22px;
	    left: 14px;
	}
	.logo div:first-of-type
	{
		font-size: 16px;
	}
	.logo div:nth-child(2)
	{
		font-size: 8px;
	}
	.menu
	{
		top: 70px;
		padding-right: 32px;
	}
	.menu_item
	{
		margin-bottom: 0px;
	}
	.menu_item a
	{
		font-size: 24px;
	}
	.menu_copyright
	{
		display: none;
	}
	.menu_social_container
	{
		margin-top: 50px;
	}
	.menu_close_container
	{
		right: 30px;
		top: 34px;
	}
	.hamburger
	{
		right: -10px;
		font-size: 18px;
	}
	.menu_search_input
	{
		height: 40px;
	}
	.menu_search_submit
	{
		width: 40px;
		height: 40px;
	}
	.menu_search_submit img
	{
		max-width: 50%;
	}
	.home_text_large
	{
		font-size: 64px;
	}
	.home_text_small
	{
		font-size: 24px;
	}
	.find_title
	{
		font-size: 24px;
	}
	.find_input
	{
		height: 40px;
		line-height: 36px;
	}
	.find_button
	{
		height: 40px;
		line-height: 40px;
		width: 120px;
		padding: 0;
	}
	.find_input::-webkit-input-placeholder
	{
		font-size: 12px !important;
	}
	.find_input:-moz-placeholder
	{
		font-size: 12px !important;
	}
	.find_input::-moz-placeholder
	{
		font-size: 12px !important;
	} 
	.find_input:-ms-input-placeholder
	{ 
		font-size: 12px !important;
	}
	.find_input::input-placeholder
	{
		font-size: 12px !important;
	}
	.dropdown_item_select
	{
		font-size: 12px;
	}
	.find_item div
	{
		font-size: 12px;
	}
	.find_button
	{
		font-size: 14px;
	}
	.section_title div
	{
		font-size: 12px;
		margin-top: 12px;
	}
	.last_item_content
	{
		padding-left: 25px;
		padding-right: 25px;
	}
	.last_percent
	{
		font-size: 72px;
	}
	.last_subtitle
	{
		font-size: 12px;
	}
	.last_title
	{
		font-size: 24px;
	}
	.last_text
	{
		font-size: 12px;
	}
	.last_logo
	{
		top: -51px;
	    left: -37px;
	    width: 106px;
	}
	.button
	{
		width: 121px;
		height: 40px;
	}
	.button a
	{
		font-size: 12px;
		line-height: 40px;
	}
	.video_title
	{
		font-size: 24px;
	}
	.video_subtitle
	{
		font-size: 12px;
	}
	.special_content
	{
		width: 100%;
		padding-left: 15px;
		padding-right: 15px;
	}
	.newsletter_title
	{
		font-size: 24px;
	}
	.newsletter_input
	{
		height: 40px;
		line-height: 36px;
	}
	.newsletter_button
	{
		height: 40px;
		line-height: 40px;
		width: 140px;
		padding: 0;
	}
	.newsletter_input::-webkit-input-placeholder
	{
		font-size: 12px !important;
	}
	.newsletter_input:-moz-placeholder
	{
		font-size: 12px !important;
	}
	.newsletter_input::-moz-placeholder
	{
		font-size: 12px !important;
	} 
	.newsletter_input:-ms-input-placeholder
	{ 
		font-size: 12px !important;
	}
	.newsletter_input::input-placeholder
	{
		font-size: 12px !important;
	}
}

/************
11. 539px
************/

@media only screen and (max-width: 539px)
{
	
}

/************
12. 480px
************/

@media only screen and (max-width: 480px)
{
	
}

/************
13. 479px
************/

@media only screen and (max-width: 479px)
{
	
}

/************
14. 400px
************/

@media only screen and (max-width: 400px)
{
	
}