@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]


- Accordions
- Find
- Top Destinations



******************************/

/***********
1. Fonts
***********/

@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,600,700,800,900');

/*********************************
General
*********************************/


/*********************************
Accordions
*********************************/

.accordion_container
{
	margin-bottom: 20px;
}
.accordion_container:last-child
{
	margin-bottom: 0;
}
.accordion
{
	height: 53px;
	width: 100%;
	border: solid 2px #dbdbdb;
	background: #FFFFFF;
	padding-left: 20px;
	cursor: pointer;
	color: #131a2f;
	font-size: 15px;
	font-weight: 400;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
    margin: 5% 0% 5% 0%;
}
.accordion div
{
	max-width: 91%;
	overflow: hidden;
	white-space: nowrap;
}
.accordion.active
{
	background: #fe3c52;
	border: solid 2px #fe3c52;
	color: #FFFFFF;
}
.accordion:active
{
	background: #fe3c52 !important;
}
.accordion::after
{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	right: 13px;
	height: 100%;
	content: '+';
	font-size: 16px;
	color: #07122c;
	font-weight: 400;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.accordion.active::after
{
	color: #FFFFFF;
	content: '-';
}
.accordion:hover
{
	background: #fe3c52;
	color: #FFFFFF;
	border: solid 2px #fe3c52;
}
.accordion:hover::after
{
	color: #FFFFFF;
}
.accordion_panel
{
	padding-left: 15px;
	padding-right: 15px;
	max-height: 0px;
	overflow: hidden;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.accordion_panel p
{
	padding-top: 15px;
}
.accordion_panel p:last-of-type
{
	margin-bottom: 0;
}




/*********************************
6. Find
*********************************/

.find
{
	width: 100%;
	padding-top: 63px;
	padding-bottom: 70px;
	z-index: 0;
	background: transparent;
}
.find_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.find_form_container
{
	width: 100%;
	margin-top: 36px;
}
.find_title
{
	width: 100%;
	font-size: 30px;
	font-weight: 300;
	color: #FFFFFF;
}
.find_form
{
	width: 100%;
	height: 100%;
}
.find_input
{
	width: 100%;
	height: 56px;
	border: none;
	outline: none;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 13px;
	font-weight: 400;
	line-height: 52px;
	border: solid 2px rgba(254, 67, 91, 0.5);
	background: transparent;
}

.find_item{
    border-radius: 5px;
}
.find_item:first-child
{
	width: 50%;
}
.find_item:nth-child(2)
{
	width: 50%;
}
.find_item:nth-child(3)
{
	width: 50%;
}
.find_item:nth-child(4)
{
	width: 50%;
}
.find_item div
{
	font-size: 14px;
	font-weight: 400;
	color: rgba(254, 67, 91, 0.5);
	margin-bottom: 7px;
}
.dropdown_item_select
{
	-webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    -o-appearance:none;
    appearance:none;
	-webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
	-webkit-user-select: none;
	background-image: url(../images/down.png);
	background-position: center right;
	background-repeat: no-repeat;
	margin: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer;
	font-size: 14px;
	font-weight: 400;
	font-style: italic;
	color: #939393 !important;
}

.dropdown_item_select::-ms-expand
{
    display: none;
}


.find_button
{
	height: 56px;
	font-size: 16px;
	font-weight: 500;
	color: #FFFFFF;
	line-height: 52px;
	padding-left: 46px;
	padding-right: 46px;
	background: #fe435b !important;
	border: none;
	outline: none;
	cursor: pointer;
    margin:5% 0%;
}
.find_button:hover
{
	opacity: 0.8;
}
.find_input::-webkit-input-placeholder
{
	font-size: 14px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #939393 !important;
}
.find_input:-moz-placeholder
{
	font-size: 14px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #939393 !important;
}
.find_input::-moz-placeholder
{
	font-size: 14px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #939393 !important;
} 
.find_input:-ms-input-placeholder
{ 
	font-size: 14px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #939393 !important;
}
.find_input::input-placeholder
{
	font-size: 14px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #939393 !important;
}


/*********************************
Select periode
*********************************/

.period_form
{
	width: 100%;
	height: 100%;
}

.period_input
{
	
	height: 56px;
	border: none;
	outline: none;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 13px;
	font-weight: 400;
	line-height: 52px;
	border: solid 2px rgba(254, 67, 91, 0.5);
	background: transparent;
}

.period_button
{
	height: 56px;
	font-size: 16px;
	font-weight: 500;
	color: #FFFFFF;
	line-height: 52px;
	padding-left: 46px;
	padding-right: 46px;
	background: #fe435b !important;
	
	border: none;
	outline: none;
	cursor: pointer;
}
.period_button:hover
{
	opacity: 0.8;
}
/*********************************
13. Footer
*********************************/

.footer
{
	width: 100%;
	background: #080d1d;
	padding-top: 79px;
	padding-bottom: 79px;
}
